  
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_build_frontend.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
      curl --silent --location https://rpm.nodesource.com/setup_8.x | bash -;
      yum -y install yarn;
